<% @board_state.each_char do |x| %>
    <% if counter  == 0 || counter % 8 == 0 %>
      <% if x == "0" %>
         <div id = <%= counter.to_s %> class="col-xs-1 col-xs-offset-2 board-space">
         </div>
        <% elsif x == "1" %>
        <div id = <%= counter.to_s %> class = "col-xs-1 col-xs-offset-2 board-space">
          <div class = "player-piece"></div>
        </div>
        <% elsif x == "2"%>
        <div id = <%= counter.to_s %> class = "col-xs-1 col-xs-offset-2 board-space">
          <div class = "opponent-piece"></div>
        </div>
        <% else %>
        <div id = <%= counter.to_s %> class = "col-xs-1 col-xs-offset-2 valid-space ">
        </div>
        <% end %>
      <% else %>
        <% if x == "0" %>
          <div id = <%= counter.to_s %> class="col-xs-1 board-space">
          </div>
        <% elsif x == "1" %>
        <div id = <%= counter.to_s %> class = "col-xs-1 board-space">
          <div class = "player-piece"></div>
        </div>
        <% elsif x == "2" %>
        <div id =<%= counter.to_s %> class = "col-xs-1 board-space">
          <div class = "opponent-piece"></div>
        </div>
        <% else %>
          <div id = <%= counter.to_s %> class = "col-xs-1 valid-space ">
        </div>
        <% end %>
      <% end %>
      <% counter += 1 %>
<% end %>

