<div class = "container" >
  <div class = "row" >
    <h2 class = center>Algorithms</h2>
      
      <p>
        Algorithms are the bedrock of computer science and one of my favorites
        aspects of the discipline. Below, you will find a few algorithms 
        employing different strategies to solve mathematical problems. 
        Each includes a sample of code and my thoughts on each exercise.
      </p>
   
   
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Multiples of 3 and 5
              </a>
            </h4>
           </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
      
            <p><%= sort_and_count([6, 5, 4, 3, 2, 1], 6) %></p>
      
            <p><%= sort_and_count([4, 3, 2, 1], 4) %></p>
            <p><% taco = [1, 2, 3, 4, 5, 6, 7] %></p>
            <p><%= s_length = taco.length / 2 %></p>
            <p><%= taco[0..s_length - 1] %></p>
            <p><%= taco[s_length..taco.length] %></p>
            <p><%= sort_and_countx([54044, 14108, 79294, 29649, 25260, 60660, 2995], 7) %></p>
            <p><%= merge_and_count([54044], [14108, 79294], 3) %> </p>
            <p> <% array = [] %>
                <%= File.foreach(Rails.root + 'app/views/experiments/algorithm_test.txt' ) do |f| %>
                <% array << f.to_i %>
                <%=  %>
                <% end %> 
            </p>
            <p><%= array %></p>
            <p> <%= sort_and_count(array, array.length) %></p>
            <p> <%= fizzbuzz("3 5 10") %> </p>
          </div>
        </div>
      </div>
      

   </div>   
  </div>
</div>