<div class="container">
  <div class="page-header center">
    <h1>Experiments!</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail padding">
        <%= link_to image_tag("funwithforms.jpg", size: '256' ), forms_path %>
        <div class="caption">
          <h3 class="center">Fun with Forms</h3>
          <p>I generated a character model and set up a form to create new users.
          </p>
        
        </div>
      </div>
    </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail padding">
      <%= link_to image_tag("reversi.jpg", size: '256' ), reversi_path %>
      <div class="caption">
        <h3 class="center">Reversi</h3>
        <p>This began as a Jquery exercise. It now has a fully functioning AI.
        Give it go!
        </p>
        
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail padding">
      <%= link_to image_tag("interview1.jpg", size: '256' ), interview_path %>
      <div class="caption">
        <h3 class="center">Interview Questions</h3>
        <p>
          A repistory of interview questions to further drive these
          concepts home.
        </p>
        
      </div>
    </div>
  </div>
  
  </div>
  <div class="row" >
  
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail padding">
        <%= link_to image_tag("euler.jpg", size: '256', class: 'border' ), euler_path %>
        <div class="caption">
          <h3 class="center">Project Euler</h3>
          <p>
            This experiment contains a series of challenging mathematical/computer 
            programming problems. 
          </p>
        
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail padding">
        <%= link_to image_tag("algorithms.png", size: '256', class: 'border' ), algorithms_path %>
        <div class="caption">
          <h3 class="center">Algorithms</h3>
          <p>
            I love algorithms! Here are a few of my favorites.
          </p>
        
        </div>
      </div>
    </div>
    
  </div><!-- row -->
  

</div>
