<p>
  <strong>Name</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>Strength</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>Defense</strong>
  <%= @character.defense %>
</p>

<p>
  <strong>Health</strong>
  <%= @character.hp_current %> / <%= @character.hp_max %>
</p>