

<p>
  <strong>Name</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>Strength</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>Defense</strong>
  <%= @character.defense %>
</p>

<p>
  <strong>Health</strong>
  <%= @character.hp_current %> / <%= @character.hp_max %>
</p>

  <%= link_to 'Delete Character', [@user, @character],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
