<p>
  <strong>Name</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>Strength</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>Defense</strong>
  <%= @character.defense %>
</p>

<p>
  <strong>Health</strong>
  <%= @character.hp_current %> / <%= @character.hp_max %>
</p>


<%= button_to "Delete", characters_path(id: @character.id), method: 'delete' %> |
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', forms_path %>