<header class="navbar navbar-static-top navbar-custom">
  <div class="container">
    <%= link_to "chrisfelder.net", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" >
       <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "CV", cv_path %></li>
       <li><%= link_to "Projects", projects_path %></li>
       <li><%= link_to "Experiments", experiments_path %></li>
       <!--<li> #render 'layouts/dropdown' </li> -->
      </ul>        

    </nav>
  </div>
</header>